#include <behaviors.dtsi>
#include <behaviors/unicode.dtsi>
#include <behaviors/num_word.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include "zmk-helpers/helper.h"

#define WIN 0
#define MAC 1
#define NAV 2
#define NAV_M 3
#define SYM 4
#define NUM 5
#define FUN 6
#define KBD 7

#define RHYP RS(RA(RC(RGUI)))

#define L_HOME(k0,k1,k2,k3,k4) &mt RHYP  k0  &mt LGUI  k1  &mt LALT k2  &mt LCTRL k3  &mt LSHFT k4
#define R_HOME(k0,k1,k2,k3,k4) &mt RSHFT k0  &mt RCTRL k1  &mt RALT k2  &mt RGUI  k3  &mt RHYP  k4
#define L_HOME_M(k0,k1,k2,k3,k4) &mt RHYP  k0  &mt LCTRL k1  &mt LALT  k2  &mt LGUI  k3  &mt LSHFT k4
#define R_HOME_M(k0,k1,k2,k3,k4) &mt RSHFT k0  &mt RGUI  k1  &mt RALT  k2  &mt RCTRL k3  &mt RHYP  k4

#define DEL_WORD &kp LC(BSPC)
#define DEL_WORD_M &kp LA(BSPC)

#define SEL_ALL &kp LC(A)
#define SEL_ALL_M &kp LG(A)

#define UNDO &kp LC(Z)
#define UNDO_M &kp LG(Z)

#define REDO &kp LC(LS(Z))
#define REDO_M &kp LG(LS(Z))

#define CUT &kp LC(X)
#define CUT_M &kp LG(X)

#define COPY &kp LC(C)
#define COPY_M &kp LG(C)

#define PASTE &kp LC(V)
#define PASTE_M &kp LG(V)

#define _ &trans
#define GBP UC_CURR_POUND

&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <150>;
};

&uc {
  default-mode = <UC_MODE_WIN_ALT>;
};

&caps_word {
    continue-list = <UNDERSCORE MINUS BSPC DEL N1 N2 N3 N4 N5 N6 N7 N8 N9 N0>;
};

ZMK_MOD_MORPH(dot_ques, bindings = <&kp DOT>, <&kp EXCL>; mods = <(MOD_LSFT|MOD_RSFT)>;)
ZMK_MOD_MORPH(comma_excl, bindings = <&kp COMMA>, <&kp QUESTION>; mods = <(MOD_LSFT|MOD_RSFT)>;)
ZMK_MOD_MORPH(slash_both, bindings = <&kp SLASH>, <&kp BACKSLASH>; mods = <(MOD_LSFT|MOD_RSFT)>;)

ZMK_MACRO(win_mode, bindings = <&tog WIN &uc UC_SET_WIN_ALT>;)
ZMK_MACRO(mac_mode, bindings = <&tog MAC &uc UC_SET_MACOS>;)

ZMK_CONDITIONAL_LAYER(nav_mac_layer, MAC NAV, NAV_M)

// f + j = caps word
ZMK_COMBO(caps_word, &caps_word, 12 15)

// symbol layer + function layer = keyboard_layer
ZMK_CONDITIONAL_LAYER(kbd_layer, SYM FUN, KBD)

ZMK_TRI_STATE(alt_tab, bindings = <&kt LALT>, <&kp TAB>, <&kt LALT>; ignored-key-positions = <1 2 15 16 17 18>;)
ZMK_TRI_STATE(alt_tab_m, bindings = <&kt LCMD>, <&kp TAB>, <&kt LCMD>; ignored-key-positions = <1 2 15 16 17 18>;)

/ {
    keymap {
        compatible = "zmk,keymap";

        windows_layer {
            bindings = <
            //                      ╭──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────╮
            //                      │  W       │  E       │  R       │  T       │   │  Y       │  U       │  I       │  O       │
                                       &kp W      &kp E      &kp R      &kp T          &kp Y      &kp U      &kp I      &kp O     
            //╭──────────┬──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┬──────────╮
            //│  Q       │  A       │  S       │  D       │  F       │  G       │   │  H       │  J       │  K       │  L       │  ; :     │  P       │
                 L_HOME(Q,  A       ,  S       ,  D       ,  F       )  &kp G          &kp H      R_HOME(J,  K       ,  L       ,  SEMI    ,  P       )
            //╰──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────╯
            //           │  Z       │  X       │  C       │  V       │  B       │   │  N       │  M       │ , !      │ . ?      │  / \     │
                            &kp Z      &kp X      &kp C      &kp V      &kp B          &kp N      &kp M    &comma_excl &dot_ques &slash_both
            //           ╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
            //                                            │  SPACE   │  ESCAPE  │   │  ENTER   │BACKSPACE │
                                                          &lt NAV SPC &lt SYM ENTER &lt FUN ESC &lt NUM BSPC
            //                                            ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        mac_layer {
            bindings = <
            //                      ╭──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────╮
            //                      │  W       │  E       │  R       │  T       │   │  Y       │  U       │  I       │  O       │
                                       &kp W      &kp E      &kp R      &kp T          &kp Y      &kp U      &kp I      &kp O     
            //╭──────────┬──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┬──────────╮
            //│  Q       │  A       │  S       │  D       │  F       │  G       │   │  H       │  J       │  K       │  L       │  ; :     │  P       │
               L_HOME_M(Q,  A       ,  S       ,  D       ,  F       )  &kp G          &kp H    R_HOME_M(J,  K       ,  L       ,  SEMI    ,  P       )
            //╰──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────╯
            //           │  Z       │  X       │  C       │  V       │  B       │   │  N       │  M       │ , !      │ . ?      │  / \     │
                            &kp Z      &kp X      &kp C      &kp V      &kp B          &kp N      &kp M    &comma_excl &dot_ques &slash_both
            //           ╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
            //                                            │  SPACE   │  ESCAPE  │   │  ENTER   │BACKSPACE │
                                                          &lt NAV SPC &lt SYM ENTER &lt FUN ESC &lt NUM BSPC
            //                                            ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
        
        navigation_layer {
            bindings = <
            //                      ╭──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────╮
            //                      │          │<prev win>│<next win>│  REDO    │   │  HOME    │ PG DOWN  │  PG UP   │  END     │
                                       _       &kp LS(TAB)  &alt_tab    REDO          &kp HOME   &kp PG_DN  &kp PG_UP  &kp END      
            //╭──────────┬──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┬──────────╮
            //│          │          │          │          │          │  UNDO    │   │  LEFT    │  DOWN    │  UP      │  RIGHT   │  TAB     │SHIFT+TAB │
                 _          _          _          _          _          UNDO          &kp LEFT   &kp DOWN    &kp UP   &kp RIGHT    &kp TAB  &kp LS(TAB) 
            //╰──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────╯
            //           │SELECT ALL│  CUT     │  COPY    │  PASTE   │          │   │ PRNTSCRN │  DELETE  │  INSERT  │  MB4     │  MB5     │
                           SEL_ALL     CUT        COPY       PASTE      _            &kp PSCRN    &kp DEL    &kp INS   &mkp MB4   &mkp MB5
            //           ╰──────────┴──────────┴──────────█▀▀▀▀▀▀▀▀▀▀█──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
            //                                            ▌          ▐          │   │  REPEAT  │ DEL WORD │
                                                             _          _            &key_repeat DEL_WORD
            //                                            ▙▄▄▄▄▄▄▄▄▄▄▟──────────╯   ╰──────────┴──────────╯
            >;
        };

        navigation_mac_layer {
            bindings = <
            //                      ╭──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────╮
            //                      │          │<prev win>│<next win>│  REDO    │   │  HOME    │ PG DOWN  │  PG UP   │  END     │
                                       _          _        &alt_tab_m   REDO_M         _          _          _          _
            //╭──────────┬──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┬──────────╮
            //│          │          │          │          │          │  UNDO    │   │  LEFT    │  DOWN    │  UP      │  RIGHT   │  TAB     │SHIFT+TAB │
                 _          _          _          _          _          UNDO_M         _          _          _          _          _          _          
            //╰──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────╯
            //           │SELECT ALL│  CUT     │  COPY    │  PASTE   │          │   │ PRNTSCRN │  DELETE  │  INSERT  │  MB4     │  MB5     │
                          SEL_ALL_M    CUT_M      COPY_M     PASTE_M    _              _          _          _          _          _     
            //           ╰──────────┴──────────┴──────────█▀▀▀▀▀▀▀▀▀▀█──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
            //                                            ▌          ▐          │   │  REPEAT  │ DEL WORD │
                                                             _          _              _        DEL_WORD_M
            //                                            ▙▄▄▄▄▄▄▄▄▄▄▟──────────╯   ╰──────────┴──────────╯
            >;
        };

        symbol_layer {
            bindings = <
            //                      ╭──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────╮
            //                      │  @       │  {       │  }       │  #       │   │  *       │  =       │  (       │  )       │
                                       &kp AT    &kp LBRC   &kp RBRC   &kp HASH      &kp ASTRK   &kp EQUAL  &kp LPAR   &kp RPAR
            //╭──────────┬──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┬──────────╮
            //│          │          │          │          │          │  &       │   │  &       │  -       │  _       │  '       │  "       │  `       │
                 _          _          _          _          _         &kp AMPS       &kp AMPS   &kp MINUS  &kp UNDER   &kp SQT    &kp DQT   &kp GRAVE
            //╰──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────╯
            //           │          │  <       │  >       │  :       │  ;       │   │  ^       │  |       │  [       │  ]       │  ~       │
                            _          &kp LT     &kp GT   &kp COLON   &kp SEMI       &kp CARET  &kp PIPE   &kp LBKT   &kp RBKT  &kp TILDE
            //           ╰──────────┴──────────┴──────────┤──────────█▀▀▀▀▀▀▀▀▀▀█   ├──────────┼──────────┼──────────┴──────────┴──────────╯
            //                                            │          ▌          ▐   │          │          │
                                                             _          _              _          _         
            //                                            ╰──────────▙▄▄▄▄▄▄▄▄▄▄▟   ╰──────────┴──────────╯
            >;
        };

        number_layer {
            bindings = <
            //                      ╭──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────╮
            //                      │    6     │    5     │    4     │          │   │  /       │  +       │  -       │   *      │ 
                                       &kp N6     &kp N5     &kp N4     _            &kp SLASH   &kp PLUS  &kp MINUS  &kp ASTRK 
            //╭──────────┬──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┬──────────╮
            //│          │    3     │    2     │    1     │    0     │          │   │  =       │          │          │          │          │  .       │
                 _          &kp N3     &kp N2     &kp N1     &kp N0     _            &kp EQUAL    _          _          _          _         &kp DOT   
            //╰──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────╯
            //           │          │    9     │    8     │    7     │          │   │  $       │  £       │  %       │          │  ,       │
                            _          &kp N9     &kp N8     &kp N7     _            &kp DOLLAR  &uc GBP  &kp PERCENT   _        &kp COMMA
            //           ╰──────────┴──────────┴──────────┤──────────┼──────────┼   ├──────────█▀▀▀▀▀▀▀▀▀▀█──────────┴──────────┴──────────╯
            //                                            │          │ NUM WORD │   │          ▌          ▐
                                                             _       &num_word NUM     _          _         
            //                                            ╰──────────┴──────────╯   ╰──────────▙▄▄▄▄▄▄▄▄▄▄▟
            >;
        };

        function_layer {
            bindings = <
            //                      ╭──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────╮
            //                      │    F6    │    F5    │    F4    │          │   │          │PLAY/PAUSE│  NEXT    │ PREVIOUS │
                                       &kp F6     &kp F5     &kp F6     _              _         &kp C_PP  &kp C_NEXT &kp C_PREV
            //╭──────────┬──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┬──────────╮
            //│   CAPS   │   F3     │    F2    │    F1    │   F10    │   F11    │   │          │  VOL UP  │ VOL DOWN │  MUTE    │          │          │ 
                &kp CAPS    &kp N3     &kp F2     &kp F1    &kp F10    &kp F11         _      &kp C_VOL_UP &kp C_VOL_DN &kp C_MUTE _          _   
            //╰──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────╯
            //           │          │    F9    │    F8    │    F7    │   F12    │   │          │BRIGHT UP │BRIGHT DN │          │          │
                            _          &kp F9     &kp F8     &kp F7    &kp F12         _      &kp C_BRI_UP &kp C_BRI_DN _          _       
            //           ╰──────────┴──────────┴──────────┤──────────┼──────────┼   █▀▀▀▀▀▀▀▀▀▀█──────────┼──────────┴──────────┴──────────╯
            //                                            │          │          │   ▌          ▐          │
                                                             _          _              _          _         
            //                                            ╰──────────┴──────────╯   ▙▄▄▄▄▄▄▄▄▄▄▟──────────╯
            >;
        };

        keyboard_layer {
            bindings = <
            //                      ╭──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────╮
            //                      │          │          │  BT 4    │          │   │          │ OUT BLE  │ OUT USB  │          │
                                       _          _       &bt BT_SEL 4  _              _      &out OUT_BLE &out OUT_USB _       
            //╭──────────┬──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┬──────────╮
            //│          │  BT 3    │  BT 2    │  BT 1    │  BT 0    │          │   │          │ TOG MAC  │ TOG WIN  │          │          │          │   
                 _   &bt BT_SEL 3  &bt BT_SEL 2 &bt BT_SEL 1 &bt BT_SEL 0  _           _        &mac_mode  &win_mode    _          _          _
            //╰──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────╯
            //           │  BT CLR  │          │          │          │          │   │          │          │          │          │          │
                          &bt BT_CLR   _          _          _          _              _          _          _          _          _
            //           ╰──────────┴──────────┴──────────┤──────────█▀▀▀▀▀▀▀▀▀▀█   █▀▀▀▀▀▀▀▀▀▀█──────────┼──────────┴──────────┴──────────╯
            //                                            │          ▌          ▐   ▌          ▐          │ 
                                                             _          _              _          _
            //                                            ╰──────────▙▄▄▄▄▄▄▄▄▄▄▟   ▙▄▄▄▄▄▄▄▄▄▄▟──────────╯ 
            >;
        };
    };
};
